[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]



[packages]

django = "==1.11.6"
"html2text" = "==2017.10.4"
nltk = "==3.2.5"
olefile = "==0.44"
pillow = "==4.3.0"
pytz = "==2017.2"
rake-nltk = "==1.0.1"
gunicorn = "*"
