{% extends 'base.html' %}

{% block title %} Main Page {% endblock %}

{% load staticfiles %}

{% block content %}
    <div class="ui four doubling cards">
        {% for tag in tags %}
        <div class="container-fluid">
            <div class="ui card">
                <div class="image">
                    <img alt="{{ tag.name }} logo">
                </div>
                <div class="content">
                    <a class="header" href="{% url 'rso' tag.id %}"> {{ tag.name }} </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}