{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    {% for organization in organizations %}
        <div class="container-fluid">
            <div class="ui card">
                <div class="image">
                    <img src="{{ organization.logo }}" alt="{{ organization.name }} logo">
                </div>
                <div class="content">
                    <a class="header" href="{% url 'detail' organization.id %}">{{ organization.name }}</a>
                    <div class="meta">
                        <span class="date">{{ organization.found_date }}</span>
                    </div>
                    <div class="description">
                        {{ organization.description }}
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        {{ organization.members }} member(s)
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}